a {
  text-decoration: none !important;
}

header {
  background-color: #111111;
  /* max-height: 80px; */
}

figure {
  padding: 15px;
}

figure img {
  max-height: 100%;
  padding-left: 25px;
}

#title {
  line-height: 80px;
  color: #eee;
}

nav {
  color: #fff;
}

.top-btn {
  margin: 5px;
}

.form-control:focus {
  border-color: #FFAF06;
  box-shadow: 0 0 0 0.2rem rgba(255, 176, 6, 0.657);
}

#cat-drop-down h3 {
  margin-left: 25px;
}

#cat-change {
  padding: 25px;
}

section {
  margin-top: 50px;
}

.button-add {
  color: #eee;
  font-weight: 600;
  background-color: rgb(16, 102, 16);
  padding: 10px;
  /* width: 150px; */
  border-radius: 30px;
  float: right;
}

.button-add:hover {
  color: rgb(16, 102, 16);
  background-color: #fff;
  border: 1px rgb(16, 102, 16) solid;
}

.button-add span {
  margin-left: 15px;
}

.fa-check-square {
  color: rgb(16, 102, 16);
}

.fa-trash-alt {
  color: red;
}

#cat-header {
  padding: 20px;
}
#error {
  color: red;
  width: 100%;
  padding: 50px;
}

#no-tasks {
  padding: 50px;
}
hr {
  border-color: #FFAF06;
  border-width: 2px;
  margin: 25px;
  width: 90%;
}

#add-category {
  width: 80;
}

#add-category-input {
  width: 50%;
}

#success {
  color: green;
  width: 100%;
  padding: 25px;
  animation: fadeOut 3s;
  opacity: 0;
}

#add-item-list {
  margin: 25px;
}

#add-form {
    margin-bottom: 50px;
}

footer {
  width: 100%;
  margin: 50px;

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

